body {
	margin: 0;
}
.header {
	height: 150px;
	background-color: #274f75;
	position: relative;
	box-shadow: 0 1px 6px black;
}
.container {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
}

h1 {
	font-size:  63px;
	color: white;
	padding-top: 48px;
	margin: 0;
	float: left;
	position: absolute;
	text-shadow: 0 1px 5px black;

}

.email {
	margin: 0;
	right: 0;
	top: 50px;
	position: absolute;
	font-size: 14px;
	color: lightgray;
	font-family: "Arial";
}

nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 0;
}

nav ul a {
	text-decoration: none;
	color: #274f75;
	font-size: 16px;
	font-family: "Arial";
	
}

.firstnav {
	text-align: center;
	background-color: #84bf0e;
	border-bottom: 3px solid #c80808;
	max-height: 45px;
}

.firstli {
	display: inline-block;
	padding: 13px 30px;
	transition: 0.6s;
}

.firstli:hover {
	background-color: white;
	border-bottom: 7px solid #c80808;
}

main {
	position: relative;
	background-image: url(../img/clouds.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 -72px;
	z-index: -12;
}

main #hero {
	position: relative;
}

main #hero .herotext {
	height: 455px;
	color:#295071;
	position: relative;
	text-shadow: 0 1px #fff;
}
main #hero .herotext h2 {
	margin: 0;
	font-size: 60px;
	width: 500px;
	position: absolute;
	top: 113px;
}

main #hero .herotext p {
	font-size: 25px;
	width: 350px;
	margin: 0;
	position: absolute;
	top: 261px;
}
main #hero {
	position: relative;
}

main #hero img {
	position: absolute;
	bottom: -46px;
	right: -40px;
	height: 455px;
}
main #topics {
	height: 690px;
	box-shadow: 0 0 5px #afb8ba;
	background-color: #fff;
	padding: 38px 20px;
	box-sizing: border-box;
}

main #topics .articles{
	width: 67%;
	float: left;
	/* font-weight: normal; */
}


main #topics aside {
	width: 33%;
	float: right;
}

main #topics .articles h3 {
	font-weight: normal;
	font-size: 29px;
	font-family: "Arial";
	margin-bottom: 27px;
}

main #topics .articles h3 span {
	font-weight: 700;
	color: #c80808;
}

main #topics .articles img {
	border: 1px solid #c80808;
	padding: 9px;
	float: left;
	margin-right: 20px;
	/* margin-bottom: 44px; */
}

main #topics .articles p {
	font-family: "Arial";
	font-size: 14px;
	margin: 40px;
}

main #topics .articles h4 span {
	font-weight: 700;
	position: relative;
	color: #c80808;
}

main #topics .articles h4 {
	font-weight: normal;
	font-size: 20px;
	font-family: "Arial";
	margin: 0;
	position: absolute;
	top: 790px;
}

section aside p {
	border-bottom: 1px solid black;
	padding-bottom: 25px;
	margin-bottom: 15px;
	/* margin-top: 10px; */
}

section article p a {
	color: black;
}
.float {
	float: left;
}

.width1 {
	position: absolute;
	top: 790px;
	max-width: 263px;
	left: -10px;
}

.width1p{	
	position: absolute;
	top: 890px;
	max-width: 263px;
	left: -10px;

}

.width2 {
	position: absolute;
	top: 790px;
	max-width: 263px;
	left: 300px;
}

.width2p {
	position: absolute;
	top: 890px;
	max-width: 263px;
	left: 300px;
}
.aa {
	position: absolute;
	left: 330px;
}
section aside div h3 {
	font-weight: 700;
	color: #c80808;
	font-size: 29px;
	font-family: "Arial";
}
div.date {
	width: 28px;
	height: 28px;
	background-color: #274f75;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	font-family: "Arial";
}

div.day {
	text-align: right;
}
div.month {
	text-align: center;
}

h5 {
	color:  #274f75;
	font-family: "Arial";
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	position: absolute;
	left: 680px;
}

.problematic {
	position: absolute;
	top: 585px;
}

.retarted {
	position: absolute;
	top: 750px;
}
section aside p a {
	color: black

}
aside p {
	font-family: "Arial";
	font-size: 14px;
	max-width: 265px;
}


footer {
	background-color: #274f75;
	color: white;
	border-top: 1px solid red;
	box-shadow:0 5px 1px black;

	height: 150px
}
footer div {
	font-size: 12px;
	color: #6a86a0;	
	position: absolute;
	right: 200px;
	padding-top: 100px;
}

footer nav ul li a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	color: #6a86a0;
}

footer nav ul {
	position: absolute;
	right: 200px;
	padding-top:40px;
	margin: 0;
	list-style-type: none;
}
footer section div span i {
	font-size: 35px;
}

footer section div {
	position: absolute;
	right: 1250px;
	padding-top: 40px;
}
footer section div ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
	font-size: 0;
}

footer section div ul li {
	display: inline-block;
	font-size: 16px;
}

footer section div ul li span {
	color: white;
	padding: 10px;
	display: block;
}

.lastnav {
	display: inline-block;
	padding: 5px 3px;
	border-right: 1px solid #6a86a0;

}